@import 'variables';

@font-face {
  font-family: Olivier;
  src : url('./assets/fonts/olivier.eot'); /* Pour IE9 Compat mode */
  src : url('./assets/fonts/olivier.eot?') format('eot'),
        url('./assets/fonts/olivier.woff') format('woff'),
        url('./assets/fonts/olivier.ttf') format('truetype');
}


html, body {
  width: 100%;
  height: 100%;
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 12px;
  padding: 0;
  margin: 0;
  color: $dark-grey;
}

#main-app {
  height: 100%;
}

/* Dead Simple Grid by Vladimir Agafonkin */
.row .row { margin:  0 -1.5em; }
.col      { padding: 0  1.5em; }
.row:after {
    content: "";
    clear: both;
    display: table;
}
@media only screen { .col {
    float: left;
    width: 100%;
    box-sizing: border-box;
}}
@media (max-width: 768px) { .row {
    margin: 0 0.5rem;
}}

.full-height {
  height: calc(100% - 26px);
}

.content {
  position: relative;
  margin: 0 auto;
}

.horiz-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.awesomplete {
  width: 100%;
}

@media (max-width: 1024px) {
  .content { width: 100%; }
}

@media screen and (min-width: 1024px) {
  .content { width: 980px; }
}

::placeholder {
  color: peachpuff;
  font-size: 13px;
}
